# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Lucky Ceiling.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\Lucky Ceiling\.idea\.idea.Lucky Ceiling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
